{% load static %}
  <nav class="lux-nav navbar navbar-expand-lg navbar-dark">
  <div class="container lux-nav-inner">
    <a class="navbar-brand lux-brand" href="{% url 'perent' %}">YatraSetu</a>
    <button class="navbar-toggler lux-nav-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#luxNavCollapse" aria-controls="luxNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="luxNavCollapse">
      <ul class="navbar-nav lux-nav-links align-items-lg-center gap-lg-3">
        <li class="nav-item"><a class="nav-link lux-nav-link" href="{% url 'perent' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link lux-nav-link" href="{% url 'routes' %}">Routes</a></li>
        <li class="nav-item"><a class="nav-link lux-nav-link" href="{% url 'gride' %}">Gallery</a></li>
        <li class="nav-item"><a class="nav-link lux-nav-link lux-nav-cta" href="{% url 'CTL' %}">Sign in</a></li>
      </ul>
    </div>
  </div>
</nav>
